# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_APPWRITE_DATABASE_ID=database_id
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users_table_id
NEXT_PUBLIC_APPWRITE_MESSAGES_COLLECTION_ID=messages_table_id
